* {
    box-sizing: border-box;
    margin: 0;
}

/*typographies*/

h1,h2,h3,p, .rating-text {
    font-family: "Spartan", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color:hsl(300, 43%, 22%);
    line-height: 1;
}

h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    line-height: 1.6;
}


section {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    flex: 1 1 100%;
    max-width: 1440px;
    padding: 50px 50px;
    /* border: 3px solid violet; */
}


/*Title on Top CSS*/
.top {
    display: flex;
}

.top >* {
    flex: 1 1 100%;
}

.top-left {
    text-align: left;
    flex-basis: 80%;
}

.top-left p {
    margin-top: 20px;
}

/*Ratings CSS*/
.top-right1, .top-right2, .top-right3 {
    display: flex;
}

.top-right1 {
    justify-content: flex-start;
}

.top-right2 {
    justify-content: center;
}

.top-right3 {
    justify-content: flex-end;
}

.rating1, .rating2, .rating3 {
    /* width: 500px; */
    margin: 10px 15px; 
    padding: 15px 15px;
    border-radius: 10px;
    background-color: hsl(300, 24%, 96%);
    
    display: flex;
}

.icon-star {
    padding-left: 10px;
    padding-right: 20px;
}

.icon-star img {
    padding: 0px 5px;
}

.rating-text{
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}

/*Bottom Cards CSS*/

.bottom {
    margin-top: 50px;
    display: flex;
    /* border: 3px solid red; */
    min-height: 320px;
    justify-content: space-between;
}



.box-container1, .box-container2, .box-container3 { /*Make the boxes of card into flex for alignment*/
    display: flex;
    /* border: 3px solid blue; */
}

.box-container1 {
    align-items: flex-start;
}

.box-container2 {
    align-items: center;
}

.box-container3 {
    align-items: flex-end;
}

.box-container1 >*, .box-container2 >*, .box-container3 >* { /*Select all direct children and make them grow shrink with 100% flex basis*/
    flex: 1 1 100%;
    
}


.box1, .box2, .box3 {  /*add background color to the cards*/
    border-radius: 10px;
    padding: 40px 40px;
    background-color: hsl(300, 43%, 22%);
    /* max-height: 250px; */
}

.box2 { /*adds margin to left and right when resized*/
    margin-left: 10px;
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image img {
    border-radius: 100px;
    max-width: 80%;
}

.verified-buyer {
    color:hsl(333, 80%, 67%, 0.5);
    padding-top: 5px;
}

.testimonials-text {
    margin-top: 10px;
    color: hsl(300, 24%, 96%);
}

/*Media Queries*/
@media (max-width: 950px) {
    .top {
        flex-direction: column;
    }

    .top-right {
        padding-top: 20px;
    }
}

@media (max-width: 750px) {
    .bottom {
        flex-direction: column;
    }

    .top-left {
        text-align: center;
    }

    .box-container1, .box-container2, .box-container3 {
        padding: 10px 0px;
    }

    .box2 { /*removes the maring in mobile view*/
        margin-left: 0px;
        margin-right: 0px;
    }
     
}

@media (max-width: 600px) {
    .rating1, .rating2, .rating3 { /*change display into column with 100% width*/
        flex-direction: column;
        flex: 1 1 100%;
    }

    .top-right1, .top-right2, .top-right3 { /*align the container and its content*/
        justify-content: center;
        text-align: center;
    }

    .rating-text {
        margin-top: 10px; /*add white space to the stars*/
    }
}
